* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0.5px;
}

body {
    width: 100%;
    height: 100%;
}

#principal {
    width: 100vw;
    height: 100vh;
    padding: 2vh 2vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:last baseline;

    gap: 4vh;
}

@media (orientation: portrait) {
    #principal {
        width: 100vw;
        height: 100vh;
        padding: 2vh 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:last baseline;

        gap: 4vh;
    }   

    .extra {
        width: 100%;
        height: 30%;
        padding: 2vh 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        gap: 4vh;
    }

    #entrada {
        width: 95%;
        height: 70%;
        padding: 1vh 1vw;
        border-style:solid;
        overflow: auto;
    }
}

@media (orientation: landscape) {
    #principal {
        width: 100vw;
        height: 100vh;
        padding: 2vh 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:last baseline;

        gap: 4vh;
    }  

     .extra {
        width: 100%;
        height: 20%;
        padding: 2vh 2vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #entrada {
        width: 80%;
        height: 80%;
        padding: 1vh 1vw;
        border-style:solid;
        overflow: auto;
    }
}

.boton {
    height: 20%;
    aspect-ratio: 1/1;
    background-color: rgba(244, 244, 244, 0.6);
}
    
.animacion1 {
    animation: confirmar 0.4s forwards;
}

@keyframes confirmar {
    from {
        background-color: rgba(0, 244, 0, 0.6);
    }

    to {
        background-color: rgba(244, 244, 244, 0.6);
    }
}